body{
    background-color: darkgrey;
}

.container{
    display: flex;
    justify-content: stretch;
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 56px  auto auto auto auto auto 5%;
    grid-auto-flow: column;
}

section{
    border: 1px, black;
    border-style: solid;
}

header{
    grid-column: 1/4;
    grid-row: 1/2;
}

.experience-IT{
    grid-column: 2;
    grid-row: 2;
}

.experience-industrie{
    grid-column: 2;
    grid-row: 3;
}

.formation-IT{
    grid-column: 2;
    grid-row: 4;
}

.formation-plastic{
    grid-column: 2;
    grid-row: 5;
}

.miscelaenous{
    grid-column: 2;
    grid-row: 6;
}

div{
    display: flex;
    justify-content: space-around;
}

